<body>
    <p class="text">
      Do you have a test for that?
    </p>
    <ul class="buttons">
      <li>
        <a class="yes" href="/pass.html">Yes</a>
      </li>
      <li>
        <a class="no" href="/write_test.html">No</a>
      </li>
    </ul>
  </body>
